/*commons*/
.text-center{
    text-align: center;
}

h2{
    color: goldenrod;
}

h3{
    font-style: italic;
}
/*fine area comune*/

/*stile header*/
header{
    background-color: #ededed;
    border-bottom: 2px solid goldenrod;
}

#profile-pic{
    width: 250px;
}
/*fine stile header*/

/*stile main*/
main{

}

span{
    font-weight: bold;
}
/*fine stile main*/